/* line 4, ../../../../../.rbenv/versions/1.9.3-rc1/lib/ruby/gems/1.9.1/gems/compass-0.12.1/frameworks/blueprint/stylesheets/blueprint/reset/_utilities.scss */
html {
  margin: 0;
  padding: 0;
  border: 0;
}

/* line 18, ../../../../../.rbenv/versions/1.9.3-rc1/lib/ruby/gems/1.9.1/gems/compass-0.12.1/frameworks/blueprint/stylesheets/blueprint/reset/_utilities.scss */
.bp-reset-element, body, h1, h2, h3, h4, h5, h6, article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, blockquote, q, th, td, caption, table,
div, span, object, iframe, p,
pre, a, abbr, acronym, address,
code, del, dfn, em, img,
dl, dt, dd, ol, ul, li, fieldset,
form, label, legend,
caption, tbody, tfoot, thead, tr {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
}

/* line 20, ../../../../../.rbenv/versions/1.9.3-rc1/lib/ruby/gems/1.9.1/gems/compass-0.12.1/frameworks/blueprint/stylesheets/blueprint/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 21, ../../../../../.rbenv/versions/1.9.3-rc1/lib/ruby/gems/1.9.1/gems/compass-0.12.1/frameworks/blueprint/stylesheets/blueprint/reset/_utilities.scss */
blockquote, q {
  quotes: "" "";
}
/* line 67, ../../../../../.rbenv/versions/1.9.3-rc1/lib/ruby/gems/1.9.1/gems/compass-0.12.1/frameworks/blueprint/stylesheets/blueprint/reset/_utilities.scss */
blockquote:before, blockquote:after, q:before, q:after {
  content: "";
}

/* line 22, ../../../../../.rbenv/versions/1.9.3-rc1/lib/ruby/gems/1.9.1/gems/compass-0.12.1/frameworks/blueprint/stylesheets/blueprint/reset/_utilities.scss */
th, td, caption {
  float: none !important;
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 23, ../../../../../.rbenv/versions/1.9.3-rc1/lib/ruby/gems/1.9.1/gems/compass-0.12.1/frameworks/blueprint/stylesheets/blueprint/reset/_utilities.scss */
table {
  border-collapse: separate;
  border-spacing: 0;
  vertical-align: middle;
}

/* line 24, ../../../../../.rbenv/versions/1.9.3-rc1/lib/ruby/gems/1.9.1/gems/compass-0.12.1/frameworks/blueprint/stylesheets/blueprint/reset/_utilities.scss */
a img {
  border: none;
}

/* line 17, ../../sass/screen.scss */
#container {
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  -ms-border-radius: 12px;
  -o-border-radius: 12px;
  border-radius: 12px;
  border: 3px solid rgba(255, 22, 22, 0.7);
}

/* line 23, ../../sass/screen.scss */
#container {
  font-size: 99px;
  text-shadow: rgba(183, 0, 0, 0.6) 0 0 4px, rgba(238, 71, 46, 0.2) 0 0 10px, rgba(183, 0, 0, 0.5) 3px 3px 10px;
  font-family: arial, monospace;
  letter-spacing: 120%;
  text-align: center;
  color: #ff4949;
  position: absolute;
  top: 20%;
  bottom: 20%;
  left: 20%;
  right: 20%;
}

/* line 43, ../../sass/screen.scss */
#clockclock {
  position: absolute;
  top: 35%;
  bottom: 0;
  left: 0;
  right: 0;
  display: -moz-inline-box;
  -moz-box-orient: vertical;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
}
/* line 7, ../../../../../.rbenv/versions/1.9.3-rc1/lib/ruby/gems/1.9.1/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/css3/_inline-block.scss */
#clockclock {
  *display: inline;
}

/* line 48, ../../sass/screen.scss */
#parent, #container {
  display: -moz-inline-box;
  -moz-box-orient: vertical;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  background-color: rgba(192, 192, 192, 0.4);
}
/* line 7, ../../../../../.rbenv/versions/1.9.3-rc1/lib/ruby/gems/1.9.1/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/css3/_inline-block.scss */
#parent, #container {
  *display: inline;
}

/* line 53, ../../sass/screen.scss */
#parent {
  background-color: rgba(90, 90, 90, 0.1);
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

/* line 58, ../../sass/screen.scss */
body {
  width: 100%;
  height: 100%;
}
